<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The best restaurant in West Java">
  <meta name="theme-color" content="#c4921a" />

  <link rel="apple-touch-icon" href="/icons/icon192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Foodie Apps</title>
</head>

<body>
  <a href="#mainContent" class="skip-to-content" tabindex="0">Skip to Content</a>

  <header class="app-bar">

    <div class="app-bar-menu">
      <button id="hamburgerButton" tabindex="0">&#9776;</button>
    </div>

    <div class="app-bar-brand">
      <h1>Foodie Apps</h1>
    </div>

    <nav id="navigationDrawer" class="app-bar-navigation">
      <ul>
        <li><a href="#/" tabindex="0">Home</a></li>
        <li><a href="#/favorite" tabindex="0">Favorite</a></li>
        <li><a href="https://github.com/Gilangg13" tabindex="0" target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main id="mainContent" tabindex="0">
    <!-- <div class="content">
      <div class="content-heading">

      </div>
    </div> -->
  </main>

  <footer>
    <p>Copyright &copy; 2023 - <span>Foodie Apps</span></p>
  </footer>
</body>

</html>